<list-select [optionList]="files" (valueEmit)="loadFile($event)" />

<div class="content">
  <div class="form">
    @if(fileLoaded){
    <h1>{{ vstName }}</h1>
    <div>
      type :
      <smart-input
        [optionList]="listVstTypes"
        (valueEmit)="changeTypeVst($event)"
        [value]="type"
      />
    </div>
    <h2>Parties du VST</h2>
    @for(part of paramsByPart; track $index){
    <div class="part">
      <smart-input
        (valueEmit)="changePart($event)"
        [value]="part.partName"
        [id]="$index"
      />
    </div>
    }
    <h2>Paramètres sans partie</h2>
    <parameter-list
      [parameters]="paramsWthoutPart"
      [parts]="parts!"
      [initVstParent]="initVst"
    />
    }
  </div>
</div>
