@if(addNewElement){
<button
  (click)="valueModifiy = true; addNewElement = false"
  style="background-image: url(/img/plus.svg)"
  title="Ajouter un élément"
  class="add"
></button>

} @else { @if (valueModifiy){ @if(!optionList && !textarea){
<input [(ngModel)]="value" (change)="change($event)" #input />
}@else if (textarea){
<textarea [(ngModel)]="value" (change)="change($event)"></textarea>
} @else {
<span #listSelect>
  <list-select
    [optionList]="optionList"
    (valueEmit)="change($event)"
    [inputSelect]="value"
  />
</span>

} @if(showButtons){
<button
  (click)="valueModifiy = true"
  style="background-image: url(/img/check.svg)"
></button>
<button
  (click)="valueModifiy = false"
  style="background-image: url(/img/cancel.svg)"
></button>
} } @else {
<span [title]="toolTipText ? toolTipText : 'double cliquez pour modifier'">{{
  value
}}</span>
@if(showButtons){
<button
  (click)="valueModifiy = true"
  style="background-image: url(/img/edit.svg)"
></button>
} } }
