@if(collapsable){
<button
	(click)="toggleCollapse()"
	[class]="
		'collapse-btn' +
		(!(paramListService.getState(datas) | async) ? ' active' : '') +
		(parameters.length > 0 ? '' : ' empty')
	"
>
	<img src="/img/double_arrow_down.svg" />
</button>
}
<ul
	[class]="
		(collapsable ? 'collapsable' : '') +
		((paramListService.getState(datas) | async) ? '' : ' not-collapsed') +
		(parameters.length > 0 ? '' : ' empty')
	"
>
	<li class="parameter header">
		<div>nom</div>
		<div class="type">type</div>
		<div>catégorie</div>
		<div>Partie</div>
	</li>
	@for(param of parameters; track param.id){
	<li class="parameter">
		<label [for]="param.name">{{ param.name }}</label>
		<smart-input
			[optionList]="typeParam"
			[value]="param.type"
			[id]="param.id"
			(valueEmit)="setParamType($event)"
			class="type"
		/>
		<div>
			@if(param.type){
			<smart-input
				[optionList]="paramCatsFiltered(param.type)"
				[value]="param.category"
				[id]="param.id"
				(valueEmit)="setParamCat($event)"
			/>
			} @else {
			<span>Choisissez un type avant</span>
			}
		</div>
		<div>
			@if(parts.length > 0){
			<smart-input
				[optionList]="partsForSelect"
				[value]="param.part"
				[id]="param.id"
				(valueEmit)="setParamPart($event)"
			/>
			} @else{
			<span>Ajoutez une partie au VST</span>
			}
		</div>
	</li>
	}
</ul>
